.myBtn {
  margin: 0 20px;
  padding: 4px 10px;
  font-family: 'Inter-Regular';
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
  border-color: transparent;
  background: transparent;
  border-radius: 5px;
  color: var(--color-opacity);

  cursor: pointer;
  transition: all .3s;
}

.myBtn:hover {
  opacity: .7;
}
