.currentTariff {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 134px;
  height: 24px;
  border-radius: 10px;
  background: var(--color-theme5);
}

.currentTariff__text {
  color: #FFF;
  font-size: 14px;
  font-family: 'Inter-Regular';
  letter-spacing: 0.14px;
  text-align: center;
  padding-top: 3px;
}