.form {
  position: relative;
}

.label {
  display: block;
  margin-top: 20px;
  color: var(--color-theme6);
  font-size: 16px;
  font-family: 'Inter-Regular';
  letter-spacing: 0.32px;
}

.form__btnEnterSmall {
  border-bottom: 2px solid var(--color-main-dark);
  margin: 0;
  color: var(--color-main-dark);
  width: 151px;
  font-size: 16px;
  padding-bottom: 8px;
  border-radius: 0;
}

.form__btnLogin {
  width: 213px;
  color: var(--color-opacity);
  border-bottom: 2px solid var(--color-opacity);
}

.form__btnEnter {
  width: 100%;
  padding: 15px 64px;
  background: var(--color-theme2);
  color: white;
  font-family: 'Inter-Medium';
  font-size: 22px;
  margin: 0;
  margin-top: 30px;
}

.form__btnEnter:disabled {
  opacity: .5;
  cursor: default;
}

.unCorrectPassword {
  position: absolute;
  top: 249px;
  left: 114px;
  color: red;
  text-align: center;
  font-size: 14px;
}

.form__btnRestore {
  margin-top: 15px;
  text-decoration: underline;
  padding: 0;
  color: var(--color-theme2);
  width: 160px;
  font-size: 14px;
}

.form__wrapperButton {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}

.form__explanation {
  margin-top: 30px;
  color: var(--color-theme6);
  font-size: 16px;
  font-family: 'Inter-Regular';
  letter-spacing: 0.32px;
}

.form__loginLinks {
  margin-top: 15px;
  display: flex;
  width: 308px;
  justify-content: space-between;
}

.form__loginLink {
  list-style-type: none;
  cursor: pointer;
  transition: all .3s;
}

.form__loginLink:hover {
  opacity: .7;
}