.section1__wrapper {
  display: flex;
  justify-content: space-between;
}

.section1__title {
  margin-top: 55px;
  width: 743px;
}

.section1__text {
  width: 534px;
  margin-top: 20px;
  font-family: 'Inter-Regular';
  font-size: 20px;
}

.section1__img {
  width: 629px;
  height: 620px;
}
/* 
.button {
  padding: 15px 64px;
  background: var(--color-button-color);
} */

@media (max-width: 375px) {
  .section1__wrapper {
    flex-direction: column;
  }
  .section1__title {
    font-size: 28px;
    width: 361px;
  }
  .section1__text {
    font-size: 18px;
    width: 327px;
  }
  .section1__img,
  .section1__img img {
    width: 347px;
    height: 327px;
  }
  
}