.footer {
  /* margin-top: 118px; */
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
  background: var(--color-main-dark);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}