.search {
  width: 100%;
  /* min-height: calc(100vh - var(--header-height) - var(--footer-height) - 69px - 64px); */
  margin-top: 69px;
  margin-bottom: 64px;
}

.search__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.search__title {
  font-size: 40px;
  width: 800px;
  letter-spacing: 1.2px;
}

.search__explanation {
  width: 535px;
  margin-top: 25px;
  font-size: 20px;
  font-family: 'Inter-Regular';
  letter-spacing: 0.4px;
}

.search__form {
  width: 872px;
  height: 543px;
  margin-top: 47px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
}

.search__imgSearch {
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 443px;
  height: 470px;
}

.search__iconDocument {
  position: absolute;
  top: 71px;
  right: 342px;
  width: 91px;
  height: 111px;
}

.search__iconFolders {
  position: absolute;
  top: 90px;
  right: 55px;
  width: 140px;
  height: 68px;
}

@media (max-width: 375px) {
  .search{
    height: 1305px;
  }
  .search__form {
    width: 355px;
    height: 650px;
  }
  .search__title {
    font-size: 28px;
    width: 361px;
  }
  .search__explanation {
    font-size: 18px;
    width: 297px;
  }

  .search__imgSearch {
    bottom: -442px;
    right: -50px;
    scale: .8;
  }
  .search__iconDocument,
  .search__iconFolders {
    display: none;
  }
}